<section class="py-4">

    <header class="dark:bg-sky-950 shadow-sm  shadow-sky-100">
        <div class="w-11/12 mx-auto py-2">
            <img class="h-40 md:h-64 min-w-full mx-auto rounded-md" src="./assets/doctor/doctor_banner.jpg" alt="">
        </div>
    </header>


    <div class="allCards grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 w-10/12 mx-auto gap-5 p-5">

        <div class="card-doctor border p-2 bg-slate-100  dark:bg-sky-950 rounded-lg">
            <div class="overflow-hidden rounded-t-lg ">
                <img class="img-Doctor" src="./assets/doctor/Doctor-photo3.jpg" alt="">
            </div>
            <div class="body-card dark:text-white my-2 px-2">
                <h2 class="font-bold text-xl">Dr / Ahmed mohamed</h2>
                <div class="flex justify-between">
                    <p class="font-medium flex-grow opacity-75">Spec / Dentist</p>
                    <span>
                        <i class="fa-regular fa-star">
                            <i class="fa-regular fa-star"></i> </i>
                    </span>
                </div>
                <p class="my-1 opacity-65">location</p>
                <p class="opacity-65">
                    <i class="fa-solid fa-location-dot"></i>
                    الشرجيه البلد
                </p>
            </div>
            <div class="text-center mt-3">
                <button class=" btn w-full  dark:bg-white dark:text-sky-950 hover:bg-[#399bec]">Book an Aplicition
                </button>
            </div>
        </div>

        <div class="card-doctor border p-2 bg-slate-100  dark:bg-sky-950 rounded-lg">
            <div class="overflow-hidden rounded-t-lg ">
                <img class="img-Doctor" src="./assets/doctor/Doctor-photo2.jpg" alt="">
            </div>
            <div class="body-card dark:text-white my-2 px-2">
                <h2 class="font-bold text-xl">Dr / Ahmed mohamed</h2>
                <div class="flex justify-between">
                    <p class="font-medium flex-grow opacity-75">Spec / Dentist</p>
                    <span>
                        <i class="fa-regular fa-star">
                            <i class="fa-regular fa-star"></i> </i>
                    </span>
                </div>
                <p class="my-1 opacity-65">location</p>
                <p class="opacity-65">
                    <i class="fa-solid fa-location-dot"></i>
                    الشرجيه البلد
                </p>
            </div>
            <div class="text-center mt-3">
                <button class=" btn w-full  dark:bg-white dark:text-sky-950 hover:bg-[#399bec]">Book an Aplicition
                </button>
            </div>
        </div>

        <div class="card-doctor border p-2 bg-slate-100  dark:bg-sky-950 rounded-lg">
            <div class="overflow-hidden rounded-t-lg ">
                <img class="img-Doctor" src="./assets/doctor/Doctor-photo1.jpg" alt="">
            </div>
            <div class="body-card dark:text-white my-2 px-2">
                <h2 class="font-bold text-xl">Dr / Ahmed mohamed</h2>
                <div class="flex justify-between">
                    <p class="font-medium flex-grow opacity-75">Spec / Dentist</p>
                    <span>
                        <i class="fa-regular fa-star">
                            <i class="fa-regular fa-star"></i> </i>
                    </span>
                </div>
                <p class="my-1 opacity-65">location</p>
                <p class="opacity-65">
                    <i class="fa-solid fa-location-dot"></i>
                    الشرجيه البلد
                </p>
            </div>
            <div class="text-center mt-3">
                <button class=" btn w-full  dark:bg-white dark:text-sky-950 hover:bg-[#399bec]">Book an Aplicition
                </button>
            </div>
        </div>

        <div class="card-doctor border p-2 bg-slate-100  dark:bg-sky-950 rounded-lg">
            <div class="overflow-hidden rounded-t-lg ">
                <img class="img-Doctor" src="./assets/doctor/Doctor-photo4.jpg" alt="">
            </div>
            <div class="body-card dark:text-white my-2 px-2">
                <h2 class="font-bold text-xl">Dr / Ahmed mohamed</h2>
                <div class="flex justify-between">
                    <p class="font-medium flex-grow opacity-75">Spec / Dentist</p>
                    <span>
                        <i class="fa-regular fa-star">
                            <i class="fa-regular fa-star"></i> </i>
                    </span>
                </div>
                <p class="my-1 opacity-65">location</p>
                <p class="opacity-65">
                    <i class="fa-solid fa-location-dot"></i>
                    الشرجيه البلد
                </p>
            </div>
            <div class="text-center mt-3">
                <button class=" btn w-full  dark:bg-white dark:text-sky-950 hover:bg-[#399bec]">Book an Aplicition
                </button>
            </div>
        </div>

        <div class="card-doctor border p-2 bg-slate-100  dark:bg-sky-950 rounded-lg">
            <div class="overflow-hidden rounded-t-lg ">
                <img class="img-Doctor" src="./assets/doctor/Doctor-photo3.jpg" alt="">
            </div>
            <div class="body-card dark:text-white my-2 px-2">
                <h2 class="font-bold text-xl">Dr / Ahmed mohamed</h2>
                <div class="flex justify-between">
                    <p class="font-medium flex-grow opacity-75">Spec / Dentist</p>
                    <span>
                        <i class="fa-regular fa-star">
                            <i class="fa-regular fa-star"></i> </i>
                    </span>
                </div>
                <p class="my-1 opacity-65">location</p>
                <p class="opacity-65">
                    <i class="fa-solid fa-location-dot"></i>
                    الشرجيه البلد
                </p>
            </div>
            <div class="text-center mt-3">
                <button class=" btn w-full  dark:bg-white dark:text-sky-950 hover:bg-[#399bec]">Book an Aplicition
                </button>
            </div>
        </div>

        <div class="card-doctor border p-2 bg-slate-100  dark:bg-sky-950 rounded-lg">
            <div class="overflow-hidden rounded-t-lg ">
                <img class="img-Doctor" src="./assets/doctor/Doctor-photo5.jpg" alt="">
            </div>
            <div class="body-card dark:text-white my-2 px-2">
                <h2 class="font-bold text-xl">Dr / Ahmed mohamed</h2>
                <div class="flex justify-between">
                    <p class="font-medium flex-grow opacity-75">Spec / Dentist</p>
                    <span>
                        <i class="fa-regular fa-star">
                            <i class="fa-regular fa-star"></i> </i>
                    </span>
                </div>
                <p class="my-1 opacity-65">location</p>
                <p class="opacity-65">
                    <i class="fa-solid fa-location-dot"></i>
                    الشرجيه البلد
                </p>
            </div>
            <div class="text-center mt-3">
                <button class=" btn w-full  dark:bg-white dark:text-sky-950 hover:bg-[#399bec]">Book an Aplicition
                </button>
            </div>
        </div>

        <div class="card-doctor border p-2 bg-slate-100  dark:bg-sky-950 rounded-lg">
            <div class="overflow-hidden rounded-t-lg ">
                <img class="img-Doctor" src="./assets/doctor/Doctor-photo3.jpg" alt="">
            </div>
            <div class="body-card dark:text-white my-2 px-2">
                <h2 class="font-bold text-xl">Dr / Ahmed mohamed</h2>
                <div class="flex justify-between">
                    <p class="font-medium flex-grow opacity-75">Spec / Dentist</p>
                    <span>
                        <i class="fa-regular fa-star">
                            <i class="fa-regular fa-star"></i> </i>
                    </span>
                </div>
                <p class="my-1 opacity-65">location</p>
                <p class="opacity-65">
                    <i class="fa-solid fa-location-dot"></i>
                    الشرجيه البلد
                </p>
            </div>
            <div class="text-center mt-3">
                <button class=" btn w-full  dark:bg-white dark:text-sky-950 hover:bg-[#399bec]">Book an Aplicition
                </button>
            </div>
        </div>

        <div class="card-doctor border p-2 bg-slate-100  dark:bg-sky-950 rounded-lg">
            <div class="overflow-hidden rounded-t-lg ">
                <img class="img-Doctor" src="./assets/doctor/Doctor-photo6.jpg" alt="">
            </div>
            <div class="body-card dark:text-white my-2 px-2">
                <h2 class="font-bold text-xl">Dr / Ahmed mohamed</h2>
                <div class="flex justify-between">
                    <p class="font-medium flex-grow opacity-75">Spec / Dentist</p>
                    <span>
                        <i class="fa-regular fa-star">
                            <i class="fa-regular fa-star"></i> </i>
                    </span>
                </div>
                <p class="my-1 opacity-65">location</p>
                <p class="opacity-65">
                    <i class="fa-solid fa-location-dot"></i>
                    الشرجيه البلد
                </p>
            </div>
            <div class="text-center mt-3">
                <button class=" btn w-full  dark:bg-white dark:text-sky-950 hover:bg-[#399bec]">Book an Aplicition
                </button>
            </div>
        </div>

        <div class="card-doctor border p-2 bg-slate-100  dark:bg-sky-950 rounded-lg">
            <div class="overflow-hidden rounded-t-lg ">
                <img class="img-Doctor" src="./assets/doctor/Doctor-photo6.jpg" alt="">
            </div>
            <div class="body-card dark:text-white my-2 px-2">
                <h2 class="font-bold text-xl">Dr / Ahmed mohamed</h2>
                <div class="flex justify-between">
                    <p class="font-medium flex-grow opacity-75">Spec / Dentist</p>
                    <span>
                        <i class="fa-regular fa-star">
                            <i class="fa-regular fa-star"></i> </i>
                    </span>
                </div>
                <p class="my-1 opacity-65">location</p>
                <p class="opacity-65">
                    <i class="fa-solid fa-location-dot"></i>
                    الشرجيه البلد
                </p>
            </div>
            <div class="text-center mt-3">
                <button class=" btn w-full  dark:bg-white dark:text-sky-950 hover:bg-[#399bec]">Book an Aplicition
                </button>
            </div>
        </div>

        <div class="card-doctor border p-2 bg-slate-100  dark:bg-sky-950 rounded-lg">
            <div class="overflow-hidden rounded-t-lg ">
                <img class="img-Doctor" src="./assets/doctor/Doctor-photo6.jpg" alt="">
            </div>
            <div class="body-card dark:text-white my-2 px-2">
                <h2 class="font-bold text-xl">Dr / Ahmed mohamed</h2>
                <div class="flex justify-between">
                    <p class="font-medium flex-grow opacity-75">Spec / Dentist</p>
                    <span>
                        <i class="fa-regular fa-star">
                            <i class="fa-regular fa-star"></i> </i>
                    </span>
                </div>
                <p class="my-1 opacity-65">location</p>
                <p class="opacity-65">
                    <i class="fa-solid fa-location-dot"></i>
                    الشرجيه البلد
                </p>
            </div>
            <div class="text-center mt-3">
                <button class=" btn w-full  dark:bg-white dark:text-sky-950 hover:bg-[#399bec]">Book an Aplicition
                </button>
            </div>
        </div>

        <div class="card-doctor border p-2 bg-slate-100  dark:bg-sky-950 rounded-lg">
            <div class="overflow-hidden rounded-t-lg ">
                <img class="img-Doctor" src="./assets/doctor/Doctor-photo6.jpg" alt="">
            </div>
            <div class="body-card dark:text-white my-2 px-2">
                <h2 class="font-bold text-xl">Dr / Ahmed mohamed</h2>
                <div class="flex justify-between">
                    <p class="font-medium flex-grow opacity-75">Spec / Dentist</p>
                    <span>
                        <i class="fa-regular fa-star">
                            <i class="fa-regular fa-star"></i> </i>
                    </span>
                </div>
                <p class="my-1 opacity-65">location</p>
                <p class="opacity-65">
                    <i class="fa-solid fa-location-dot"></i>
                    الشرجيه البلد
                </p>
            </div>
            <div class="text-center mt-3">
                <button class=" btn w-full  dark:bg-white dark:text-sky-950 hover:bg-[#399bec]">Book an Aplicition
                </button>
            </div>
        </div>

        <div class="card-doctor border p-2 bg-slate-100  dark:bg-sky-950 rounded-lg">
            <div class="overflow-hidden rounded-t-lg ">
                <img class="img-Doctor" src="./assets/doctor/Doctor-photo6.jpg" alt="">
            </div>
            <div class="body-card dark:text-white my-2 px-2">
                <h2 class="font-bold text-xl">Dr / Ahmed mohamed</h2>
                <div class="flex justify-between">
                    <p class="font-medium flex-grow opacity-75">Spec / Dentist</p>
                    <span>
                        <i class="fa-regular fa-star">
                            <i class="fa-regular fa-star"></i> </i>
                    </span>
                </div>
                <p class="my-1 opacity-65">location</p>
                <p class="opacity-65">
                    <i class="fa-solid fa-location-dot"></i>
                    الشرجيه البلد
                </p>
            </div>
            <div class="text-center mt-3">
                <button class=" btn w-full  dark:bg-white dark:text-sky-950 hover:bg-[#399bec]">Book an Aplicition
                </button>
            </div>
        </div>



    </div>


</section>