<section class="about-doctor  py-14 dark:bg-neutral-900 dark:text-white">

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 items-center justify-center w-10/12 mx-auto">

        <div class=" articl flex flex-col p-0 md:p-8 ">
            <div>
                <h3 class="text-4xl font-bold">Doctor Name </h3>
                <h5 class="text-2xl my-3   tracking-widest">About me </h5>
                <p class=" opacity-65 font-serif ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Exercitationem
                    iste nobis natus, quisquam fugit
                    distinctio labore fuga repellendus perferendis delectus iusto, molestiae reprehenderit similique
                    deleniti deserunt amet facere nisi. Optio.</p>
            </div>


            <div class="my-7  flex flex-col gap-y-8">

                <div class="flex gap-x-8 ">
                    <button class="btn font-medium  w-36">Education</button>
                    <div>
                        <span class="block font-medium ">university</span>
                        <span class="block opacity-70">specific / Lorem, ipsum dolor.</span>
                    </div>
                </div>

                <div class="flex gap-x-8 ">
                    <button class="btn font-medium  w-36">experience</button>
                    <div>
                        <span class="block font-medium ">university</span>
                        <span class="block opacity-70">specific / Lorem, ipsum dolor.</span>
                    </div>
                </div>

                <div class="flex gap-x-8 ">
                    <button class="btn font-medium  w-36">Skilis</button>
                    <div>
                        <span class="block font-medium ">university</span>
                        <span class="block opacity-70">specific / Lorem, ipsum dolor.</span>
                    </div>
                </div>



            </div>


        </div>

        <div class="img-doctor opacity-90 dark:opacity-85  rounded-3xl overflow-hidden  ">
            <div class="p-5">
                <img class="opacity-[98%]  rounded-3xl  h-full w-full" src="./assets/doctor/Doctor-photo2.jpg" alt="">
            </div>
        </div>

    </div>


</section>