<section class="bg-sky-950 pt-4 lg:rounded-ee-[300px]  rounded-b-full dark:bg-sky-800 lg:overflow-visible overflow-hidden  ">
    <div class="relative w-[80%] mx-auto">
        <div class="lg:flex-row flex   lg:justify-between lg-content-center flex-col ">
            <div class="mt-10 ">
            <h1 class="text-white ps-4 font-bold text-3xl "><span class=" border-s-sky-600 dark:border-s-white border-s-4 ps-2">Feel better</span> about finding healthcare</h1>
            <div class="lg:hidden block w-full my-4  p-5 bg-slate-200 dark:bg-sky-950 rounded-2xl shadow-sm">
    
                <h1 class="font-bold text-xl text-sky-950 dark:text-white">Find the care you need</h1>
        
                <div class=" w[20%] space-y-3 ">
                    <div >
                      <label for="hs-trailing-button-add-on-with-icon" class="sr-only">Label</label>
                      <div class="flex rounded-lg shadow-sm">
                        <input type="text" id="hs-trailing-button-add-on-with-icon" name="hs-trailing-button-add-on-with-icon" class="py-3 px-4 block w-full border-gray-200 shadow-sm rounded-s-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-sky-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                        <button type="button" class="w-[2.875rem] h-[2.875rem] shrink-0 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-e-md border border-transparent bg-sky-800 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                          <i class="fa-solid fa-search shrink-0 size-4 fa-2"></i>
                        </button>
                      </div>
                    </div>
                    <ul class="flex justify-around divide-gray-300 divide-">
                        <li class="dark:text-white"><a >Family Medicine</a></li>
                        <li><a class="dark:text-white">Pediatrics</a></li>
                        <li class="hidden md:block dark:text-white"><a >Top Hospitals</a></li>
                        <li ><a class="dark:text-white " >COVID-19</a></li>
                        <li class="hidden md:block dark:text-white"><a >Dentistry</a></li>
                        <li class="hidden md:block"><a >Orthopedic Surgery</a></li>
                        
                    </ul>
                  
                    
                  </div>
            </div>

            <div class="flex justify-center content-center my-3 gap-2 mt-6">
                <span class="rounded-3xl text-center p-3 shadow-md bg-white transition text-sky-950 font-bold dark:bg-sky-950 dark:hover:shadow-black  dark:text-white hover:shadow-white">Profiles for Every Doctor in America</span>
                <span class="rounded-3xl text-center p-3 shadow-md bg-white transition text-sky-950 font-bold  dark:bg-sky-950 dark:hover:shadow-black  dark:text-white hover:shadow-white">Search by What Matters Most to You</span>
                <span class="rounded-3xl text-center p-3 shadow-md bg-white transition text-sky-950 font-bold  dark:bg-sky-950 dark:hover:shadow-black  dark:text-white hover:shadow-white">More Than 10 Million Patient Ratings</span>
            </div>
    
            </div>
            
            <img class="lg:w-1/2 w-full   rounded-3xl lg:rounded-t-full" src="../../../../assets/media/mediaSection14.jpeg" alt="">
    
        </div>
    <div class="lg:absolute hidden  dark:bg-sky-950 lg:block bottom-[-10%] right-[10%] w-[80%]  p-5 bg-slate-200 rounded-2xl shadow-sm">
    
        <h1 class="font-bold text-xl dark:text-white text-sky-950">Find the care you need</h1>

        <div class=" w[20%] space-y-3 ">
            <div >
              <label for="hs-trailing-button-add-on-with-icon" class="sr-only">Label</label>
              <div class="flex rounded-lg shadow-sm">
                <input type="text" id="hs-trailing-button-add-on-with-icon" name="hs-trailing-button-add-on-with-icon" class="py-3 px-4 block w-full border-gray-200 shadow-sm rounded-s-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-sky-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <button type="button" class="w-[2.875rem] h-[2.875rem] shrink-0 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-e-md border border-transparent bg-sky-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                  <i class="fa-solid fa-search shrink-0 size-4 fa-2"></i>
                </button>
              </div>
            </div>
            <ul class="flex justify-around divide-gray-300 divide-x-2">
                <li class="dark:text-white"><a >Family Medicine</a></li>
                <li><a  class="dark:text-white" >Pediatrics</a></li>
                <li class="hidden md:block"><a  class="dark:text-white" >Top Hospitals</a></li>
                <li ><a  class="dark:text-white" >COVID-19</a></li>
                <li class="hidden md:block dark:text-white"><a >Dentistry</a></li>
                <li class="hidden md:block dark:text-white"><a >Orthopedic Surgery</a></li>
                
            </ul>
          
            
          </div>
    </div>


    </div>
    
</section>
<section class="mt-28">
    <div class="w-[80%] mx-auto">
    <h1 class="font-bold text-2xl dark:text-white text-sky-950">Popular Searches on Healthgrades</h1>
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide><img class="w-full" src="../../../../assets/icon's/scrool/sec1/healthy (1).png" alt=""></ng-template>  
              <ng-template carouselSlide><img class="w-full" src="../../../../assets/icon's/scrool/sec1/healthy.png" alt=""></ng-template>  
              <ng-template carouselSlide><img class="w-full" src="../../../../assets/icon's/scrool/sec1/medical (1).png" alt=""></ng-template>  
              <ng-template carouselSlide><img class="w-full" src="../../../../assets/icon's/scrool/sec1/medical (2).png" alt=""></ng-template>  
              <ng-template carouselSlide><img class="w-full" src="../../../../assets/icon's/scrool/sec1/medical (3).png" alt=""></ng-template>  
              <ng-template carouselSlide><img class="w-full" src="../../../../assets/icon's/scrool/sec1/medical (4).png " alt=""></ng-template>  
              <ng-template carouselSlide><img class="w-full" src="../../../../assets/icon's/scrool/sec1/medical.png " alt=""></ng-template>  
              <ng-template carouselSlide><img class="w-full" src="../../../../assets/icon's/scrool/sec2/healthy (2).png " alt=""></ng-template>  
              <ng-template carouselSlide><img class="w-full" src="../../../../assets/icon's/scrool/sec2/healthy (3).png " alt=""></ng-template>  
              <ng-template carouselSlide><img class="w-full" src="../../../../assets/icon's/scrool/sec2/healthy (4).png " alt=""></ng-template>  
              <ng-template carouselSlide><img class="w-full" src="../../../../assets/icon's/scrool/sec2/healthy (5).png " alt=""></ng-template>  
              <ng-template carouselSlide><img class="w-full" src="../../../../assets/icon's/scrool/sec2/healthy (6).png " alt=""></ng-template>  
              
            </owl-carousel-o>
          


    </div>
    
</section>




<section class="my-16 py-9 bg-sky-800 rounded-e-[300px] rounded  ">
  <div class="w-[80%] mx-auto ">
    
    <div class="grid grid-cols-12 space-x-6 md:w-1/2 w-[80%] items-center justify-center mx-auto">
      <img class="lg:col-span-2 md:col-span-4  col-span-3
       " src="../../../../assets/icon's/current-location.png" alt="">
    <h1 class="lg:col-span-10 md:col-span-8 text-sm font-bold col-span-9 text-white md:text-xl">Half of all Americans who see doctors each year use Healthgrades to find the right care.</h1>
    </div>
  </div>

</section>
<section class="my-9 tes">
  <div class="w-[80%] mx-auto">
    <div class="md:grid md:grid-cols-12 space-x-5 items-start justify-center flex-col">
      <div class="col-span-6 overflow-hidden rounded-2xl">
        <img class="w-full" src="../../../../assets/media/mediaSection15.jpeg" alt="">
      </div>
      <div class="col-span-6 md:mt-5 ">
        <h1 class="text-sky-900 md:text-4xl font-bold  text-xl  ">Explore what a free Healthgrades account has to offer!</h1>
        <p class="dark:text-gray-200 text-gray-600 md:text-xl  md:my-5 text-clip">An account allows you to manage family doctors and insurance, book appointments, receive exclusive discounts on prescription medicine, compare doctors, get appointment reminders, and more...</p>
        <a class="text-sky-800 cursor-pointer  ">Learn more <i class="fa-solid fa-arrow-alt-circle-right"></i></a>
      </div>
    </div>
  </div>

</section>

<section class="my-9" >

</section>
